<div class="container">
    <div class="contenedor4">
        <img src="/image/logo1.jpg" class="logo1">
        <div class="logo1texto">
            <h1 class="textologo1">Certificado a nombre de la nacion</h1></br>
            <h3 class="texto2logo1">Cuando finalices cualquiera de nuestros cursos</br> obtendrás un certificado
                avalado por ISAM.</br><span class="remarcar">Somos un instituto licenciado por MINEDU</span></h3>


        </div>
        <img src="/image/logo2.jpg" class="logo2">
        <div class="logo1texto2">
            <h1 class="textologo2">Certificado a nombre de la nacion</h1></br>
            <h3 class="texto2logo2">Cuando finalices cualquiera de nuestros cursos</br> obtendrás un certificado
                avalado por ISAM.</br><span class="remarcar2">Somos un instituto licenciado por MINEDU</span></h3>


        </div>
        <div class="figura4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px"
                height="759px">
                <path fill-rule="evenodd" fill="rgb(250, 189, 4)"
                    d="M32.655,33.265 L454.325,0.120 C479.419,-1.853 499.986,17.545 499.986,43.258 L499.986,726.214 C499.986,746.004 482.128,760.061 460.308,757.772 L88.375,718.754 C70.487,716.877 54.853,701.007 53.291,683.177 L0.186,76.945 C-1.784,54.458 12.660,34.836 32.655,33.265 Z" />
            </svg>
            <h1 class="textofigurasvg">Beneficios:</h1>
            <div class="svgtexto1">

                Las habilidades SEO que adquirirás en nuestro curso,
                te permitirán llegar a un amplio número de usuarios mediante contenidos de valor
                que serán rastreados e indexados por los buscadores para ser presentados en el momento preciso y
                a las personas correctas.
                Aprender SEO te ayudará a:



            </div>
            <div class=svg2>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="822px"
                    height="297px">
                    <path fill-rule="evenodd" opacity="0.102" fill="rgb(0, 0, 0)"
                        d="M82.058,0.891 L789.390,0.046 C810.768,0.021 824.978,18.200 821.257,40.612 L790.382,226.554 C786.725,248.578 766.614,267.089 745.339,267.942 L42.221,296.108 C16.214,297.150 -2.361,278.149 0.901,253.616 L28.468,46.281 C31.794,21.266 55.864,0.922 82.058,0.891 Z" />
                </svg>
                <h1 class="titulosvg2">
                    Triple certificacion:
                </h1>
                <div class="imagenessvg2">
                    <ul>


                        <a>
                            <img src="/image/imagenessvg.jpg" hight=180 width=160>
                        </a>
                        <a>
                            <img src="/image/imagenessvg2.jpg" hight=180 width=160 class="svgimg2">
                        </a>

                        <a>
                            <img src="/image/imagenessvg3.jpg" hight=180 width=160 class="svgimg2">
                        </a>



                    </ul>
                    <h1 class="titulosvg3">
                        Certificacion a nombre de la nacion
                    </h1>


                </div>
            </div>
        </div>
    </div>