<div class="contenedorpadre">
    <div class="container">

        <div class="containersub1">

            <div class=textocont6>
                Sobre los docentes especialistas
            </div>
            <img src="/image/ing.jpg" class="ing">


            <div class=textocont7>
                <h1 class="tituloing"> Ing. Andruz Legro</h1>
                <span class=textonegro> Especialista SEO</br>
                    </br>
                    Tengo más de 7 años de experiencia en el diseño, desarrollo e implementación
                    de </br> estrategias SEO para la creación de canales de adquisición orgánicos.</span>


            </div>
        </div>
    </div>
</div>