
body{
    box-sizing: content-box;
    font-family:'palatino-blod';
    min-height: 100vh;
    justify-content: center;

    
}

.contenedor-contactos{
    background-color: #0049FF;
    width: 200px;
    height: 70px;
    flex-wrap: wrap;

    position: relative;
    overflow: hidden;
    background-size: cover;
}
 /*parte superior de la pagina*/ 

.resaltado2{
    color: black;
    font-family: 'palatino-roman-regular';

}
#navbar{
    position: relative;
}
#cabecera{
    position: relative;
}
.logoempresa{
    position: relative;
    width :200px;
    height:60px;


}
#nav1{
   margin-left: 1vb;
   margin-right: 3vh;

}
#nav2{
    margin-left: 3vh;
   margin-right: 3vh;
 
 
 }
 #nav3{
    margin-left: 3vh;
   margin-right: 3vh;
 
 }

/*parte del cuerpo */ 

.contenedor1{
    margin-top: 3vh;
    margin-right: 5vh;
    margin-left: 10vh;
    box-sizing: border-box;
    background-size: cover;
    flex-wrap: wrap;
    height: 600px;
    position: relative;
}

.google{
    position: relative;

}
.bing{
    position: absolute;
    left: 150px;
   
}
.yahoo{
    top: 160px;
    position: absolute;
    left:260px
    
}
#titulo1{
    font-weight: bolder;
}
.pagina1{
    position: relative;
}

#texto1{
    margin-right: 10px;
    margin-top: 3%;
    font-size:20px;
}
.chica{

    top: 50px;
    width: 400px;
    left: 230px;
   
    position: absolute;

}

.opciones{
    border-radius: 6%;
    width: 340px;
    height: 440px;
    background-color: #FABD04;
    color: white;
    top: 40px;
    right: 5px;
    position: absolute;
    display: block;

}
.nombre1{
    font-size: 13px;
}

.textocuadro{
    margin-top: 5%;
    font-style: italic;
    margin-left: 5%;
    
}
.textocuadrot{
    font-size: 20px;

}
.figura2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px;
    height: 40px;
    margin-bottom: 200px;
    background-color:#FABD04;
    position: absolute;
    
    
}
.textofigura2{
    padding-top: 2%;
    font-size: 18px;
    color: white;
  text-align: center;
    font-weight:bolder;
}
.contenedortexto2{
    top:280px;
    left: 20px;
    height: 150px;
    width: 150px;
    color:black;
    position: absolute;
}
.texto2{
    text-align:center;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
}
.resaltado{
    font-size: 25px;
    color: #FABD04;
    font-family: "platino roman";
}
.formulario{
    margin-top: 10px;
    width: 100%;
    height: 100;
    line-height: 35px;

}
#enviar{
    border-radius: 15px;
    width: 120px;
    height: 35px;
    text-align: center;
    border: none;
    margin-left: 80px;
    font-size: 10px;
    font-weight: bold;
}
.mensaje{
    font-size: 13px;
    font-style: normal;
}
.nombre{
    background-color: transparent;
    border: none;
    width: 260px;
    height: 14px;
    border-bottom: 1px solid white;
    outline: none;
}
.apellido{
    background-color: transparent;
    border: none;
    width: 260px;
    height: 14px;
    border-bottom: 1px solid white;
    outline: none;
}
.correo{
    background-color: transparent;
    border: none;
    height: 14px;
    width: 260px;
    border-bottom: 1px solid white;
    outline: none;
}
.numero{
    background-color: transparent;
    border: none;
    height: 14px;
    width: 260px;
    border-bottom: 1px solid white;
    outline: none;
}

.texto3{
    margin-top: 200px;
    height: 140px;
    width: 220px;
    position: absolute;
}
.textoh3{
    font-size: 20px;
}
/*2da parte de la pagina */
.contenedor2{
    margin-top: 3vh;
    margin-right: 5vh;
    margin-left: 10vh;
    box-sizing: border-box;
    background-size: cover;
    flex-wrap: wrap;
    height: 400px;
    position: relative;

}
.texto2pag2{
    width: 500px;
    height: 200px;
    font-size: 18px;
}
.titulo2{
    color: #FABD04;
}    
.figura3 {
    position: absolute;
    z-index: 97;
    top: 60px;
    left: 550px;
      
}
.figuratexto{
    height: 80px;
    width: 275px;
    position: absolute;
    top: 50px;
    left: 180px;
    font-family: "palatino-roman";
    text-align: right;
}

.comillas{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;

}
/*parte 2 de la 2 pagina*/
.contenedorprincipal4{
    height: 300px;
    background-color: #E6E7E6;
    position: relative;


}
.contenedor3{
     margin-top: 3vh;
     margin-right: 5vh;
     margin-left: 10vh;
     height: 400px;
     position: relative;

}
.laptop{
    position: absolute;
    left: 0;
    top: 40px;

}
.contenedortexto3{
    width: 450px;
    height: 100px;
    position: absolute;
    left: 500px;
    top: 60px;
}
.texto4{
    color:#FABD04 ;
    font-weight: bold;
    line-height: 50px;

}
.h3text1{
  font-size: 15px;

}
.h3mod{
    font-family:"palatino-bold";
    font-weight: bold;
}
/*siguiente parte de la pagina */
.contenedor4{
    margin-top: 3vh;
    margin-right: 5vh;
    margin-left: 10vh;
    box-sizing: border-box;
    background-size: cover;
    flex-wrap: wrap;
    height: 700px;
    position: relative;
}
.logo1{
    position: absolute;
    width: 120px;
    height: 100px;
    top: 70px;
    left: 30px;
}
.logo1texto{
    position: absolute;
    left: 190px;
    top: 70px;
    width:450x;
    height: 160px;
}
.textologo1{
    font-size: 20px;
    color: #FABD04;
    font-weight: bold;
    line-height: 20px;
}
.texto2logo1{
    font-size: 15px;
}
.remarcar{
    font-weight: bold;
}
.wps{
    border-radius: 10px;
    position: absolute;
    background-color: #1BD741;
    width: 150px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    padding-left: 13px;
    padding-top: 5px;
    color: white;
    line-height: 15px;
    top: -20px;
    right: 200px;


}
.canales{
    border-radius: 10px;
    position: absolute;
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    color: white;
    line-height: 15px;
    top: -20px;
    right: 0;


}
.telefono{
    position: absolute;
    left:6px;
    top: 4px;
}
.canal{
    font-size: 10px;
}
.logo2{
    position: absolute;
    width: 120px;
    height: 100px;
    top: 250px;
    left: 50px;
}

.logo1texto2{
    position: absolute;
    left: 190px;
    top: 250px;
    width:450x;
    height: 160px;
}
.texto2logo2{
    font-size: 15px;
}
.remarcar2{
    font-weight: bold;
}
.textologo2{
    font-size: 20px;
    color: #FABD04;
    font-weight: bold;
    line-height: 20px;
}
.figura4{
    position: absolute;
    right:0;
    top: -100px;
    color: white;
}

.textofigurasvg{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 40px;
    font-family: 'palatino-bold';

}
.svgtexto1{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 310px;
    height: 244;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
}
.svg2{
    position: absolute;
    right:200px;
    top: 400px;
    opacity: 70%;

}
.titulosvg2{
    position: absolute;
    color: #FABD04;
    font-weight: bold;
    top:40px;
    left: 90px;
    font-size: 35px;
}
.imagenessvg2{
    position: absolute;
    top: 100px;
    left: 80px;
}
.titulosvg3{
    position: absolute;
    color: #FABD04;
    font-weight: bold;
    top:70px;
    left: -40px;
    font-size: 17px;
    width: 180px;

}
.svgimg{
    width: 200px;
    height: 40px;
    position: absolute;
    left: -40px;
    top: 20px;
}
.svgimg2{
    top: 15px;
    width: 110px;
    height: 60px;
    left: 180px;
    position: absolute;

}
.svgimg3{
    top: 15px;
    width: 120px;
    height: 60px;
    left: 350px;
    position: absolute;
    
}
.listatexto{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 320px;
    left: 100px;
}
.check2{
    position: relative;
    margin-top: 50px;

}
.textolista{
    position: absolute;
    font-size: 18px;
    top: 50px;
    width: 300px;
    left: 40px;
    line-height: 23px;
}
.exclamacion{
    position: absolute;
    top: -30px;
    right: 3px;
}
#h3mod2{
    position: absolute;
    font-size: 18px;
    color: #FABD04;
}
/*parte 3era de la pagina */

.contenedor5{
    margin-top: 3vh;
    margin-right: 5vh;
    margin-left: 10vh;
    box-sizing: border-box;
    height: 700px;
    position: relative;
}
.textocont5{
    width: 350px;
    height: 80px;
    color: #FABD04;
    font-size: 26px;
    font-family: 'palatino-bold';


}
.texto1cont5{
    width: 900px;
    height: 80px;
    color: black;
    font-size: 18px;
    font-weight: normal;


}
.figuras3{
    height: 600px; 
}
.rectangulo1{
    position: absolute;
    left: 30px;
    width: 450px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #E5E5E5;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}
.rectangulo2{
    position: absolute;
    right: 0;
    width: 450px;
    height: 200px;
    right: 30px;
    border-radius: 20px;
    background-color: #E5E5E5;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;

}
.rectangulo3{
    position: absolute;
    left: 30px;
    top: 380px;
    width: 450px;
    height: 200px;
    border-radius: 20px;
    font-weight: normal;
    line-height: 20px;
    
    background-color: #E5E5E5;
}
.rectangulo4{
    position: absolute;
    right: 0;
    width: 450px;
    top: 380px;
    height: 200px;
    right: 30px;
    border-radius: 20px;
    border: 2px solid #E5E5E5;
    font-weight: normal;
    line-height: 20px;
}
.btn{
    color: white;
    background-color: #FABD04;
    position: absolute;
    width: 200px;
    border-radius: 10px;
    bottom: -300px;
    left: 400px;
    
}
.botton3{
    position: relative;
    height: 200px;

}
.compu{
    position: absolute;
    top: 40px;
}
.textocompu{
    position: absolute;
    top: 30px;
    left: 130px;
}
.tcompu{
    font-size: 20px;
    color: #FABD04;
    font-weight: bold;
}
.contenedor6{
    height: 520px;
    position: relative;
    top: -40px;
    margin-right: 5vh;
    margin-left: 10vh;

}
.personas{
    position: absolute;
    top: -60px;
    right: -100px;
    

}
.ul{
    position: absolute;
    top: 300px;
}
.ul1{
    position: absolute;
    top: 300px;
    left: 250px;
}
.checkfinal{
    width: 15px;
    height: 15px;
}
.personastext{
    position: absolute;
    color: #FABD04;
    font-size: 30px;
    font-weight: bold;
    top: 230px;
    left: 40px;
}
.contenedorpadre{
    background-color: black;
    height: 400px;
    position: relative;

}

.containersub1{
    height: 600px;
    position: relative;
    margin-right: 5vh;
    margin-left: 10vh;

}
.textocont6{
    position: absolute;
    width: 500px;
    height: 80px;
    color: #FABD04;
    font-size: 30px;
    font-family: 'palatino-bold';
    top: 40px;
    left: 0;
}
.ing{
    position: absolute;
    top: 100px;
    left: 100px;

}
.textocont7{
    position: absolute;
    top: 130px;
    right: 100px;
}
.textonegro{
    color: white;
    font-weight: normal;


}
.tituloing{
    color: #FABD04;
    font-size: 30px;
}
.contenedor7{
    height: 600px;
    position: relative;
    margin-right: 5vh;
    margin-left: 10vh;

}
.texto5{
    position: absolute;
    top:50px;
    color: #FABD04;
    left: 300px;
    font-size: 30px;
    font-weight: bold;
}
.texto6{
    position: absolute;
    top:100px;
    color: black;
    left: 200px;
    font-size: 30px;
    font-weight: bold;

}
.botton4{
    width: 800px;
    height: 80px;
    position: absolute;
    background-color: #FABD04;
    border: none;
    top: 160px;
    left: 100px;
    border-radius:50px;
}
.textop{
    position: absolute;
    
    top: 20px;
    left: 100px;
    font-size: 20px;
    color: white;
}
.numero1{
    position: absolute;
    left: 40px;
    top: 20px;

}
.menos{
    position: absolute;
    right: 40px;
    top: 35px;
}
.ptexto2{
    display: none;
    position: relative;
    width: 720px;
    height: 100px;
    top: 260px;
    left: 150px;
}
.show{
    display: block;
}
.ptexto3{
    line-height: 40px;
}
.ptextoprincipal{
    font-size: 18px;
    font-weight: normal;
    font-family:'palatino-blod';
}
.botton5{
    width: 800px;
    height: 80px;
    position: relative;
    background-color: black;
    top: 280px;
    left: 100px;
    border-radius:50px;

}
.numero2{
    position: absolute;
    left: 40px;
    top: 20px;
}
.mas{
    position: absolute;
    right: 40px;
    top: 25px;
}
.botton6{
    width: 800px;
    height: 80px;
    position: relative;
   background-color: black;
    top: 290px;
    left: 100px;
    border-radius:50px;

}
.numero3{
    position: absolute;
    left: 40px;
    top: 20px;
}
.mas1{
    position: absolute;
    right: 40px;
    top: 25px;
}
.what2{
    position: absolute;
    width: 200px;
    height: 65px;
    top: 100px;
    right: 150px;
    border-radius: 10px;
    border: 1px solid#181818;

}
.whats2{
    position: absolute;
    top: 5px;
    left: 20px;
}
.textowps{
    position: absolute;
    top: 18px;
    left: 80px;
    font-weight: bold;
    font-size: 20px;
}

#circle{
    position: absolute;
    background-color:#0049FF;
    top: 80px;
    right: 0;
    width: 80px;
    height: 80px;
}
.vector{
    position: absolute;
    top: 15px;
    left: 30px;
}
/*parte final de la pagina*/
.contenedorfinal{
    position: relative;
    background-color: #F0F0F0;
    height: 300px;
    
}
.contenedor8{
    height: 300px;
    position: relative;
    margin-right: 5vh;
    margin-left: 10vh;
}
.textofinal{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50px;
}
.msjcorreo{
    font-weight: bold;
}
.horario{
    font-weight: bold;
    line-height: 10px;
}
.lista3{
    position:absolute;
    top: 75px;
    left: 400px;
    font-size: 20px;
    font-weight: bold;
}
.Inicio{
    color: black;
}
.contenedorpadre3{
    background-color: #DFDFDF;
    height: 120px;
    border: none;
    border-top: 1px solid #181818;
}
.contenedor10{
    height: 120px;
    position: relative;
    margin-right: 5vh;
    margin-left: 10vh;
}
#logofinal{
    position: absolute;
    top: 40px;
}
#derechos{
    position: absolute;
    top: 40px;
    left: 300px;

}
.links{
    position: absolute;
    top: 30px;
    right: 50px;
}